html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
body {
    
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    @media only screen and (max-width: 576px) {
      
    }
}
main {
    flex: 1 0 auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1;
    color: $Headings;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  button {
    cursor: pointer;
  }

  