$Primary: #6c63ff;
$PrimaryDark: #463AFF;
$Accent: #06D19C;
$Secondary: #4641FF;
$Text: #666;
$Headings: #111;
$Darkbg: #333C44;
$Lines: #EEE;
$Alternatebg: #F7F7F7;
$Accentred: #ff6347;



//MIXINS GOES HERE
@mixin cent() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin row-flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
}