html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: #111;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

#topbtn {
  font-size: 2em;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #666;
  opacity: 1;
  cursor: pointer;
  z-index: 99;
  border: none;
  outline: none;
}

#topbtn:hover {
  color: #6c63ff;
}

header {
  background: url(/img/header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header .logo-text {
  font-size: 1.2em;
  vertical-align: middle;
}

header nav a {
  color: #666;
  cursor: pointer;
  opacity: 1;
}

header nav a:hover {
  color: #6c63ff;
}

@media only screen and (max-width: 576px) {
  header nav li {
    font-size: 0.8em;
  }
}

header img {
  border-radius: 50%;
}

header .row {
  height: 80vh;
}

header .col-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .col-text button {
  cursor: pointer;
  font-weight: bold;
  border: solid 2px #666;
  background: -webkit-gradient(linear, left top, right top, from(#c6edff), to(#a3c6ff));
  background: linear-gradient(to right, #c6edff 0%, #a3c6ff 100%);
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}

header .col-text button:hover {
  background: #6c63ff;
  color: #EEE;
  border: solid 2px #111;
}

header .col-text h3 {
  color: #111;
}

header .info {
  color: #111;
  font-size: 1em;
  font-weight: bold;
  opacity: 0.7;
}

header .info a {
  color: #EEE;
}

.middle {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mouse {
  width: 30px;
  height: 50px;
  border: 2px solid #111;
  border-radius: 20px;
  opacity: 0.7;
}

.mouse::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  background: #111;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  -webkit-animation: mouse 1s ease infinite;
          animation: mouse 1s ease infinite;
}

@-webkit-keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}

main .section-about {
  height: 100vh;
  background: url(/img/bg-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768.98px) {
  main .section-about {
    text-align: center;
  }
}

main .section-about p {
  opacity: 0.8;
  font-weight: 500;
}

main .section-about .row {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section-about .col-text {
  vertical-align: middle;
}

main .section-about .col-text h2 {
  color: #111;
}

main .section-about .col-text button {
  cursor: pointer;
  font-weight: bold;
  border: solid 2px #666;
  background: -webkit-gradient(linear, left top, right top, from(#c6edff), to(#a3c6ff));
  background: linear-gradient(to right, #c6edff 0%, #a3c6ff 100%);
  -webkit-transition: background .6s ease;
  transition: background .6s ease;
}

main .section-about .col-text button:hover {
  background: #6c63ff;
  color: #EEE;
  border: solid 2px #111;
}

main .section-about .col-img {
  vertical-align: middle;
}

main .section-about .col-img img {
  height: 400px;
  width: 400px;
  margin: 0;
}

main .section-skills {
  min-height: 100vh;
  background: url(/img/Rose-Petals.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

main .section-skills h2 {
  color: #F7F7F7;
}

main .section-skills .pill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section-skills .card-deck {
  padding-top: 50px;
  padding-bottom: 50px;
}

main .section-skills .card-deck img {
  padding: 10px;
}

main .section-skills .card {
  -webkit-box-shadow: 0px 0px 0px;
          box-shadow: 0px 0px 0px;
  -webkit-transition: -webkit-box-shadow .2s ease-out;
  transition: -webkit-box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out, -webkit-box-shadow .2s ease-out;
}

main .section-skills .card:hover {
  -webkit-box-shadow: 1px 8px 20px #ff6347;
          box-shadow: 1px 8px 20px #ff6347;
  -webkit-transition: -webkit-box-shadow .2s ease-in;
  transition: -webkit-box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
}

main .section-project {
  padding-top: 30px;
  padding-bottom: 30px;
}

main .section-project .card-grid img {
  padding: 10px;
}

main .section-project .card-test div {
  position: relative;
}

main .section-project .card-test .overlay {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #6c63ff;
  color: #EEE;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: left .7s;
  transition: left .7s;
}

main .section-project .card {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 0px;
          box-shadow: 0px 0px 0px;
  -webkit-transition: -webkit-box-shadow .2s ease-out;
  transition: -webkit-box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out, -webkit-box-shadow .2s ease-out;
}

main .section-project .card:hover {
  -webkit-box-shadow: 1px 8px 20px #ff6347;
          box-shadow: 1px 8px 20px #ff6347;
  -webkit-transition: -webkit-box-shadow .2s ease-in;
  transition: -webkit-box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
}

main .section-project .card:hover .overlay {
  left: 0;
}

main .section-project #project-link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #111;
  border: solid 2px #111;
  padding: 0.6em;
  border-radius: 10%;
  background: #F7F7F7;
}

main .section-project #project-link a:hover {
  background: #6c63ff;
  color: #EEE;
  border: solid 2px #EEE;
}

main .section-contact {
  background: #6c63ff;
  padding-top: 30px;
  padding-bottom: 30px;
}

main .section-contact h2 {
  color: #111;
}

main .section-contact button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

main .section-contact button span {
  font-size: 1.5em;
}

main .section-contact .insta {
  background: #fff;
}

main .section-contact .insta a {
  color: #e1306c;
}

main .section-contact .insta:hover {
  background: #e1306c;
}

main .section-contact .insta:hover a {
  color: #fff;
}

main .section-contact .fb {
  background: #fff;
}

main .section-contact .fb a {
  color: #3b5998;
}

main .section-contact .fb:hover {
  background: #3b5998;
}

main .section-contact .fb:hover a {
  color: #fff;
}

main .section-contact .twitter {
  background: #fff;
}

main .section-contact .twitter a {
  color: #1da1f2;
}

main .section-contact .twitter:hover {
  background: #1da1f2;
}

main .section-contact .twitter:hover a {
  color: #fff;
}

main .section-contact .git {
  background: #fff;
}

main .section-contact .git a {
  color: #333;
}

main .section-contact .git:hover {
  background: #333;
}

main .section-contact .git:hover a {
  color: #fff;
}

footer #sticky-footer {
  position: absolute;
  bottom: 0;
}

footer span {
  color: #ff6347;
}
/*# sourceMappingURL=style.css.map */