/* 
Custom Stylesheet | Designed by Dev
*/
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
    -ms-overflow-style: none;
    /* IE 10+ */
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-size: 1rem;
}

.container {
    max-width: 95%;
}

a:hover
{   
  text-decoration: none;
}
a{
    text-decoration: none;
}
/*Nav*/
.navbar {
    background: #3ECF8E;
    z-index: 2000 !important;
    font-size: 1.5rem;
}
.navbar-brand{
    color: #ffffff; 
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}
a.navbar-brand:hover{
    color: #ffffff;
}
.dice{
    padding: 12px;
    color: #063070;
}
.navbar-a{
    color: #063070;
}
/*Nav*/
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar{
    background: #fafafa;
    color: #063070;
    width: 300px;
    position: fixed;
    top: 49;
    left: -300px;
    height: 100vh;
    z-index: 1900;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
#sidebar.active {
    left: 0;
}
#overlay.active {
    display: block;
    opacity: 0.5;
    background: #A9A9A9;
    z-index: 1500;
    top: 49;
    height: 100vh;
    width: 100%;
    left: 300px;
    position: fixed;
    transition: all 0.2s ease-in-out;
}
.sidebar-header{
    padding: 15px;
    font-family: 'Nunito', sans-serif;
}
.side-item{
    padding: 10px;
    border-bottom: solid 1px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}
#sidebar a,a:hover{
    text-decoration: none;
    color: #063070;
}
.side-work{
    padding: 10px;
    padding-top: 30px;
}
#sidebar li:hover{
    background: #e7e7e7;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


/*
carousel 
*/

/* 
carousel 
*/
/* 
Media Queries
*/
@media screen and (max-width: 600px) {
    .navbar-brand{
        font-size: 1.5rem;
    }
    .navbar{
        font-size: 1.2rem;
    }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

/* 
Insert Comment 
*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

/* 
Insert Comment 
*/
/* 
Insert Comment 
*/
/* 
Insert Comment 
*/
/* 
Insert Comment 
*/
