/* 
Custom Stylesheet | Designed by Dev
*/
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    font-size: 1rem;
}
/* 
Nav 
*/
.container {
    max-width: 95%;
}
.fa-dice-five{
    margin-right: 10px;
}
.top-bar {
    text-align: center;
    font-size: 0.7rem;
}
.top-bar ul{
    padding-bottom: 0px;
    padding-top: 3px;
    margin-bottom: 3px;
}
.top-bar a {
    color: #B9DFF4;
    padding: 10px;
    text-decoration: none;
    }
.top-hr{
    margin: 0px;
}
.top-bar a:hover{
    font-weight: bold;
}
.navbar {
    padding: 15px !important;
}
.navbar-brand{
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem !important;
    letter-spacing: 1.5px;
}
.brand-img{
    margin-right: 5px !important;
}
.navbar button{
    letter-spacing: 1px;
    font-family: 'Nunito',sans-serif;
}
/* 
Nav 
*/
/*Sidebar*/
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    
    z-index: 9999;
    color: #ffffff;
    transition: all 0.3s;
    overflow-y: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
#sidebar.active {
    left: 0;
}
#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding-top: 3px;
    margin-right: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #A9A9A9;
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}
#sidebar .sidebar-header {
    padding: 15px;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ff8080;
}
#sidebar ul p {
    color: #ffffff;
    padding: 10px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: #ffffff;
}
#sidebar ul li a:hover {
    color: #000000;
    background: #ffffff;
}
a[data-toggle="collapse"] {
    position: relative;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ffffff;
    color: #000000 !important;
}
ul.CTAs {
    padding: 20px;
}
ul.CTAs a {
    text-align: center;
    font-size: 1rem !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #ffffff;
    color: #DC3545 !important;
}
/* 
Sidebar 
*/
/* 
carousel 
*/
/* 
carousel 
*/
/* 
Media Queries
*/
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    
}
/* 
Insert Comment 
*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}
/* 
Insert Comment 
*//* 
Insert Comment 
*//* 
Insert Comment 
*//* 
Insert Comment 
*/
