html, body{
    height: 100%;
    margin: 0;

}
body{
    background-image: url(/img/bg-2.svg);
}
#img,#cover{
    max-width: 400px;
}
.btns{
    cursor: pointer;
    
}
textarea{
    width:300px;
    padding:10px;
    height:200px;
    resize:none;
}